
<h1>Search for a Ticker</h1>
<form action="/stock_info">
  <!-- Label and input for user_id -->
  <div class="form-group">
    <label for="ticker">
      Ticker Symbol 
    </label>

    <input type="text" id="ticker" name="ticker" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Search Ticker
  </button>
</form>